@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-900 leading-relaxed;
  }

  ::selection {
    @apply bg-blue-500 text-white;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}